# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/
env/

# IDE files
.vscode/
.idea/

# Misc
.DS_Store
*.log

# excel-files/*
output/*.xlsx
*.xlsx
*.xlsx#
*.csv

# profile 
*.prof
